<mat-toolbar color="primary">
    <span>Recipe Book</span>
    <nav>
        <a routerLink="/recipes" routerLinkActive="active" mat-button (click)="display('recipes')">Recipes</a>
        <a routerLink="/shopping-list" routerLinkActive="active" mat-button (click)="display('shopping-list')">Shopping List</a>
    </nav>
    <mat-list>
        <mat-list-item><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></mat-list-item>
        <mat-list-item><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></mat-list-item>
    </mat-list>
</mat-toolbar>
