:host {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80ch;
}

mat-form-field {
    width: 100%;
}

.ingredient {
    display: grid;
    grid-template-columns: 6fr 3fr 1fr;
    gap: 8px;
}

.delete-ingredient {
    margin-top: 0.25em;
    margin-bottom: 1.59375em;
}

.actions {
    display: flex;
    flex-direction: row-reverse;
}
