<form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
        <mat-label for="name">Name</mat-label>
        <input
            matInput
            type="text"
            name="name"
            formControlName="name"
        >
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="imagePath ">Image URL</mat-label>
        <input
            matInput
            type="text"
            id="imagePath"
            formControlName="imagePath"
        >
    </mat-form-field>
    <div layout="row">
        <img src="" mat-card-image alt="">
    </div>
    <mat-form-field appearance="outline">
        <mat-label for="description ">Description</mat-label>
        <textarea
            matInput
            id="description"
            formControlName="description"
        ></textarea>
    </mat-form-field>
    <div formArrayName="ingredients">
        <div 
            class="ingredient" 
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
        >
            <mat-form-field appearance="outline">
                <mat-label>Ingredient</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="amount"
                >
            </mat-form-field>
            <button class="delete-ingredient" mat-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <button 
            type="button"
            mat-stroked-button
            (click)="addIngredient()"
        >
            Add ingredient
        </button>
    </div>
    <div class="actions" layout="col">
        <button 
            type="submit" 
            mat-stroked-button 
            color="accent"
            [disabled]="!recipeForm.valid"
        >
            Save
        </button>
        <button
            type="button"
            mat-stroked-button
            color="warn"
            routerLink="../"
        >
            Cancel
        </button>
    </div>
</form>