<img mat-card-image [src]="recipe.imagePath" alt="{{ recipe.name }}">
<h1>{{ recipe.name }}</h1>
<div class="actions">
    <button
        mat-stroked-button
        color="primary"
        (click)="addToShoppingList(recipe.ingredients)"
    >
        Add to Shopping List
    </button>
    <button
        mat-button
        color="accent"
        (click)="editItem()"
    >
        Edit Recipe
    </button>
    <button
        mat-button
        color="warn"
        (click)="deleteItem()"
    >
        Delete Recipe
    </button>
</div>
<p class="mat-body">
    {{ recipe.description }}
</p>
<mat-list>
    <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
    </mat-list-item>
</mat-list>