img {
    max-width: 100%;
    margin: auto;
}

h1, p, .actions, mat-list {
    margin: auto;
    max-width: 80ch;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}