<img [src]="recipe.imagePath" alt="{{ recipe.name }}">
<h1 class="mat-headline">{{ recipe.name }}</h1>
<button mat-button (click)="addToShoppingList(recipe.ingredients)">
    Add to Shopping List
</button>
<button mat-button>Edit Recipe</button>
<button mat-button color="warn">Delete Recipe</button>
<p class="mat-body">
    {{ recipe.description }}
</p>
<mat-list>
    <mat-list-item *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
    </mat-list-item>
</mat-list>